body {
    font-family: sans-serif ; 
    margin: 0;
    padding: 0;
}
header { 
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 20px 0;

}
main{
    padding: 20px;

}

aside {
width: 80%;
max-width: 400px;
margin: 20px auto;
border: 2px solid #ccc;
padding: 15px;
background-color: #f0f0f0;
color: #333;
box-sizing: border-box;

}
aside img {
    width: 200px;
    height: auto;
}
footer{
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}